body {
    width: 100% !important;
}

/* Show and style the filter button */
.top-banner {
    display: block !important;
    background-color: transparent !important;
}

/* Small screens */

@media (max-width: 991px) {

    .container.whole-container {
        padding: 0 !important;
    }

    #result-container {
        width: 98%;
        margin: 0 40px !important;
    }

    .top-banner .container {
        display: flex;
        flex-direction: row !important;
        justify-content: end;
        flex-wrap: wrap;
    }

    .top-banner__heading {
        background-image: url(https://cdn.jsdelivr.net/gh/topcompare/widgets/icons/be-logo-nosignature.svg);
        background-repeat: no-repeat;
        background-size: 120px;
        background-position: left center;
        display: inline-block;
        order: 2;
        flex-basis: 120px;
        flex-grow: 1;
        height: 50px;
    }

    .container>.top-banner__category {
        flex-basis: 100%;
        margin-bottom: 5px;
    }

    .top-banner__category>label {
        display: block;
    }

    #category-dropdown {
        display: block;
        width: 100%;
    }

    .top-banner__category::after {
        top: 30px !important;
    }

    .top-banner__category-mobile.visible-xs.visible-sm {
        /* keeps the whole button clickable when .filter-panel-wrapper is hidden */
        z-index: 1;
        position: unset;
        order: 3;
        margin-right: 4px;
    }

    .top-banner-icon.m-cgg-icon--Filter-mobile {
        display: inline-block !important;
        padding: 10px 15px !important;
        border-radius: 3px !important;
        margin-top: 0 !important;
        margin-bottom: 20px !important;
        cursor: pointer;
        color: #fff !important;
        background-color: #ac115d !important;
        border-color: #950f50 !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        text-align: center !important;
        line-height: 1.4375 !important;
    }

    /* filter panel and animation */
    .filter-panel-wrapper {
        z-index: 0;
        margin-bottom: 10px;
        /* keeps a non-zero height even when the .container inside has height: 0, negative margin-top to not let too much white space on the screen */
        margin-top: -40px;
    }

    .filter-panel-wrapper>.filter-panel-container {
        display: inline-block !important;
        transform-origin: 50px 0 0;
        /* transition when opening the panel */
        transition: max-height 500ms ease-in, visibility 500ms ease-in, height 500ms ease-in, margin-top 0ms;
        -webkit-transition: max-height 500ms ease-in, visibility 500ms ease-in, height 500ms ease-in, margin-top 0ms;
        -moz-transition: max-height 500ms ease-in, visibility 500ms ease-in, height 500ms ease-in, margin-top 0ms;
        -o-transition: max-height 500ms ease-in, visibility 500ms ease-in, height 500ms ease-in, margin-top 0ms;
        max-height: 2000px;
        visibility: visible;
        margin-top: 30px !important;
    }

    .filter-panel-wrapper>.filter-panel-container.hidden-xs.hidden-sm {
        /* display is set to inline-block instead of none to enable css transition */
        display: inline-block !important;
        max-height: 0;
        visibility: hidden;
        margin-top: 0 !important;
        /* transition when hiding the panel */
        transition: max-height 500ms ease-out, visibility 500ms ease-out, margin-top 0s 500ms;
        -webkit-transition: max-height 500ms ease-out, visibility 500ms ease-out, margin-top 0s 500ms;
        -moz-transition: max-height 500ms ease-out, visibility 500ms ease-out, margin-top 0s 500ms;
        -o-transition: max-height 500ms ease-out, visibility 500ms ease-out, margin-top 0s 500ms;
    }

    .top-banner>.container {
        background-color: none;
        margin: 0 !important;
        padding: 0 !important;
    }

    .filter-panel-wrapper .filter-panel-sorting>.sort-selection::after {
        content: "\e603" !important;
        font-weight: bold;
        color: #105b74;
        position: absolute;
        right: 25px;
        top: 35px;
    }

    .filter-panel-container>hr:first-of-type {
        border-bottom: none !important;
    }
}

/* end of small screens */

.top-banner-icon.m-cgg-icon--Filter-mobile::before {
    Content: "Afficher les filtres";
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.top-banner-icon.m-cgg-icon--Filter-mobile::after {
    content: "\e959";
    font-weight: bold;
    margin-left: 5px;
}

.top-banner-icon.m-cgg-icon--Filter-mobile:hover {
    background-color: #870d49 !important;
    border-color: #870d49 !important;
}

/* Make the results table use full width */
.container.whole-container {
    width: calc(100% - 10px) !important;
}

/* Make results table always visible, even when filter is open */
#results-container {
    display: block !important;
    width: 100%;
    padding: 0;
}

.card-container.row.has-deal.featured {
    display: none !important;
}

/* Customize filter */

.filter-panel-container {
    background-color: #eee !important;
    border-top: 1px solid #ccc;
    border-bottom: 3px solid #ccc;
    background-color: #eee !important;
    margin: 0 !important;
}

.filter-panel-group {
    margin: 0;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.filter-panel-container hr {
    border-bottom: 1px solid #ccc !important;
}

.filter-panel-group:first-of-type {
    display: none;
}

.filter-panel-wrapper input:checked+.slider {
    background-color: #4a88a7;
}

/* end of filter */

/* Customize drop-down selects */

.filter-panel-sorting {
    width: 100%;
}

.sort-selection {
    display: flex;
    flex-wrap: wrap;
}

.sort-selection span {
    font-weight: bold !important;
    margin-bottom: 10px;
}

.filter-panel-sorting select {
    width: 100% !important;
}

.filter-panel-sorting select,
#category-dropdown {
    font-size: 14px;
    border: 1px solid #cccbc8 !important;
    border-radius: 3px;
    padding: 9px !important;
    background-color: white !important;
    box-shadow: none !important;
}

.filter-panel-wrapper .filter-panel-sorting>.sort-selection>i::before {
    content: "\e603" !important;
    font-weight: bold;
    color: #105b74;
    position: absolute;
    right: 12px;
    top: 16px;
}

.top-banner {
    height: auto !important;
}

.top-banner .container {
    width: 100%;
    min-height: 0 !important;
    margin: 0;
}

.top-banner__heading span {
    display: none;
}

.top-banner__category {
    width: auto !important;
    flex: 1;
    order: 1;
    flex-basis: 100%;
    margin: 0;
}

.top-banner__category::after {
    content: "\e603" !important;
    font-weight: bold;
    color: #105b74 !important;
    position: absolute;
    right: 12px;
    font-size: 10px !important;
}

.top-banner__category label {
    padding-right: 12px !important;
    color: black;
    font-size: 14px !important;
    width: unset !important;
}

#category-dropdown {
    display: inline-block;
    flex: 1;
    height: 35px;
    float: none;
}

/* end of select */

@media (min-width: 992px) {
    .filter-panel-wrapper {
        display: inline-block;
        float: left;
        padding-top: 10px;
        background-image: url(https://cdn.jsdelivr.net/gh/topcompare/widgets/icons/be-logo-nosignature.svg);
        background-repeat: no-repeat;
        background-size: 150px;
        background-position-y: bottom;
        padding-bottom: 45px;
        background-position-x: 2px;
    }

    .filter-panel-container {
        display: inline-block;
    }

    .filter-panel-group:first-of-type {
        display: inline-block !important;
    }

    .filter-panel-container>.filter-panel-sorting {
        display: inline-block !important;
    }

    .filter-panel-sorting .sort-selection {
        text-align: left !important;
    }

    .filter-panel-sorting {
        display: block !important;
        padding-right: 10px;
        padding-left: 10px;
    }

    .top-banner__heading {
        display: none;
    }

    #category-dropdown {
        width: unset !important;
    }

    .top-banner__category::after {
        top: 11px !important;
    }

    .top-banner-icon.m-cgg-icon--Filter-mobile {
        margin-top: 12px !important;
    }

    #results-container {
        width: 75%;
    }

    #results-container>.visible-md:first-of-type {
        display: none !important;
    }

    .visible-xs>hr {
        margin-left: -10px;
        margin-right: -10px;
        border-bottom: 1px solid #ccc !important;
    }
}

/* Remove scrollbar of iframe */
::-webkit-scrollbar {
    display: none;
}

.filter-panel-container>div>div>a>input::-webkit-slider-thumb {
    background: #4a88a7 !important;
    background-clip: unset !important;
    border: 5px solid #4a88a7 !important;
}

.filter-panel-container>div>div>a>input::-moz-range-thumb {
    background: #4a88a7 !important;
    background-clip: unset !important;
    border: 5px solid #4a88a7 !important;
}

.no-results-text {
    font-size: 16px;
    color: #8a6d3b;
    text-align: center;
    margin-top: 100px;
    padding: 15px;
    margin-bottom: 23px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.list-more-btn {
    margin: 0;
}

/* Style for the table of more details in Credit Cards */
.cc-more-details {
    width: 100%;
}

.cc-more-details td:nth-child(1) {
    width: 40%;
}

.cc-more-details td:nth-child(2) {
    width: 10%;
    text-align: right;
    padding-right: 2%;
}

.cc-more-details td:nth-child(3) {
    width: 50%;
}

.cc-more-details tr td {
    border-bottom: dotted 1px rgb(238, 238, 238);
    border-top: dotted 1px rgb(238, 238, 238);
    display: inline-enable;
    vertical-align: middle;
    min-height: 35px;
}

/* End of Credit Cards more details */

/* Removing first column in Credit Cards */
[data-col-title="TopDeals"],
[data-col-title="LaureenScoreVB"],
[data-col-title="ArthureScoreVB"],
[data-col-title="ChadScoreVB"],
[data-col-title="BethanyScoreVB"],
[data-col-title="HailieScoreVB"] {
    display: none !important;
}