*,
::after,
::before {
  box-sizing: border-box !important;
}

.tc-tool-tile {
  background-color: white;
  padding: 10px;
  box-sizing: content-box;
  border-radius: 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
  color: #252525 !important;
}

.tc-tool-header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.tc-tool-title {
  flex: 1;
  margin: auto;
}

.tc-tool-title>h2.teaser_title {
  margin-top: unset;
}

.tc-tool-content {
  margin-bottom: 5px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tc-tool-icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 11px;
  margin-right: 20px;
  background-color: #eee;
}

.tc-powered-by {
  font-size: 9px;
  text-align: right;
  display: block;
  color: #757575;
  padding-top: 10px;
}

.tc-powered-by svg {
  width: 90px;
  height: 17px;
  vertical-align: middle;
}

.tc-tool-icon svg {
  height: 100%;
}

.tc-tool-CTA a {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.2;
  background-color: #314556; /* LaLibre Branding Suggestion */
  border-radius: 4px;
  color: white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.tc-tool-CTA a:hover {
  background-color:#4a88a7;
}

.tc-main-content-left-container-holder {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
}

.tc-main-content-left-container-holder input {
  width: 100%;
  padding: 10px;
  margin-top: 0;
  outline: none;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #eeeeee;
}

.tc-right-element {
  margin-left: 16px;
  margin-right: 5px;
  flex: 1;
}

.tc-left-element {
  margin-right: 20px;
  margin-bottom: 0;
}

/* Drag slider specific */
.tc-main-content-left-container-holder .tc-drag-slidecontainer {
  width: 100%;
  padding: 0px;
  border: none;
  margin-top: 15px;
}

.tc-main-content-left-container-holder .tc-drag-slider {
  -webkit-appearance: none;
  width: 100%;
  padding: 0;
  margin: 0px;
  border: 0px;
}

.tc-drag-slider::-ms-fill-lower, .tc-drag-slider::-ms-fill-upper {
  background: #d7dcdf;
  border-radius: 10px;
}

.tc-drag-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  background: #d7dcdf;
  border: none;
  border-radius: 5px;
}

.tc-drag-slider::-moz-range-track {
  width: 100%;
  height: 10px;
  background: #d7dcdf;
  border: none;
  border-radius: 5px;
}

.tc-drag-slider::-ms-track {
  height: 11px !important;
  background: transparent;
  border-color: transparent;
  color: transparent;
  border-width: 6px 0;
  width: 100%;
}

.tc-drag-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #4a88a7; /* LaLibre Branding Suggestion */
  cursor: pointer;
  margin-top: -6px;
}

.tc-drag-slider::-moz-range-thumb {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #4a88a7; /* LaLibre Branding Suggestion */
  cursor: pointer;
}

.tc-drag-slider::-ms-thumb {
  border: none;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #4a88a7;
  cursor: pointer;
}
/*End of drag slider*/

/* Toggle switch specific */
.tc-tool-switch {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 22px;
  min-width: 40px;
  margin-right: 8px;
}

.tc-tool-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.tc-tool-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 22px;
}

.tc-tool-switch .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 100%;
}

.tc-tool-switch input:checked+.slider {
  background-color: #4a88a7; /* LaLibre Branding Suggestion */
}

.tc-tool-switch input:checked+.slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* End of toggle switch*/

/* Radio input specific */
.tc-radio {
  flex: 1;
  min-width: 116px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  background-color: #eee;
  border-radius: 5px;
  height: 30px;
  margin: 5px;
  margin-bottom: 5px;
}

.tc-radio input {
  visibility: hidden;
  cursor: pointer;
  width:16px;
}

.tc-checkmark {
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 0;
  right: 0;
  height: 22px;
  width: 22px;
  background-color: white;
  border: 1px solid #a5a5a5;
  border-radius: 50%;
}

.tc-radio input:checked~.tc-checkmark {
  background-color: #4a88a7; /* LaLibre Branding Suggestion */
  border: 0;
}

.tc-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.tc-radio input:checked~.tc-checkmark:after {
  display: block;
}

/* End of radio input */
